@import "~ngx-smart-modal/ngx-smart-modal";
@import "colors";
@import 'rental-detail';
@import 'forms';
@import "date-picker";

html, body {
  height: 100%;
}

html, body, p {
  color: $dark-gray-color
}
.type {
  &-apartment {
    color: #a72da3 !important;
  }

  &-condo {
    color: #d68000 !important;
  }

  &-house {
    color: #bf1818 !important;
  }
}

.booking-btn-main {
  border-color: $dark-red-color !important;
  color: $dark-red-color;

  &:hover, &:focus, &:active {
    background-color: $dark-red-color;
    border-color: $dark-red-color;
    color: white !important;
    box-shadow: none;
  }
  &:disabled {
    cursor: auto;
    background-color: transparent;
    border-color: $dark-red-color;
  }
}
