@import 'colors';
@import 'rental-detail';


html, body {
  height: 100%;
}

html, body, p {
  color: $dark-gray-color
}
.type {
  &-apartment {
    color: #a72da3 !important;
  }

  &-condo {
    color: #d68000 !important;
  }

  &-house {
    color: #bf1818 !important;
  }
}
