<div class="row">
  <div class="booking-list-page">
    <h1 class="title">Your home all around the World</h1>
    <!-- TODO: Create custom directive in end of this section -->
    <div class="row">
      <div
        *ngFor="let rental of rentals"
        class="col-md-3 col-xs-12">
        parent : {{ parentData }}
<!--        <app-rental-cards-->
<!--          [rental] ="rental"-->
<!--          [childData]="parentData"-->
<!--          (childDataChange)= "onChangeParentData($event)"-->
<!--        >-->
<!--        </app-rental-cards>-->

        <!-- 2 way data binding is similar to this code      -->
        <app-rental-cards
          [rental] ="rental"
          [childData]="parentData"
          (childDataChange)="parentData = $event"
        >
        </app-rental-cards>


        <app-rental-cards
          [rental] ="rental"
          [(childData)]="parentData"
        >
        </app-rental-cards>

      </div>
    </div>
  </div>
</div>
