<section id="rentalDetails">
  <div class="upper-section">
    <div class="row">
      <div class="col-md-6">
        <img
          src="{{rental?.image}}"
          alt="{{rental?.description}}"
          class="img-fluid"
        >
      </div>
      <div class="col-md-6">
        <!--
          we are passing to the child component data that will be stored in
          location member variable in TomtomComponent
        -->
        <app-tomtom
          [location] = "rentalLocation"></app-tomtom>
      </div>
    </div>
  </div>

  <div class="details-section">
    <div class="row">
      <div class="col-md-8">
        <div class="rental">
          <h2 class="rental-type type-{{rental?.category}}">
            {{ (rental?.shared ? "Shared" : "Whole")  | upper}}
            {{ rental?.category | upper }}
          </h2>
          <h1 [appHighlight]="'ivory'" class="rental-title">
            {{ rental?.title }}
          </h1>
          <h2 class="rental-city">
          <!-- same as using second pipe            -->
            {{ rental?.city | upper:'firstUpperLetter' }}
          </h2>
          <div class="rental-room-info">
            <span>
              <i class="fa fa-building"></i>
              {{ rental?.numOfRooms }} bedrooms
            </span>
            <span>
              <i class="fa fa-user"></i>
              {{ rental?.numOfRooms + 4 }} guests
            </span>
            <span>
              <i class="fa fa-bed"></i>
              {{ rental?.numOfRooms + 2 }} beds
            </span>
          </div>
          <p class="rental-description">
            {{rental?.description}}
          </p>
          <hr>
          <div class="rental-assets" [appHighlight]="'lightyellow'">
            <h3 class="title">Assets</h3>
            <div class="row">
              <div class="col-md-6">
                <span>
                  <i class="fa fa-asterisk"></i> Cooling
                </span>
                <span>
                  <i class="fa fa-thermometer"></i> Heating
                </span>
                <span>
                  <i class="fa fa-location-arrow"></i> Iron
                </span>
              </div>
              <div class="col-md-6">
                <span>
                  <i class="fa fa-desktop"></i> Working area
                </span>
                <span>
                  <i class="fa fa-cube"></i> Washing machine
                </span>
                <span>
                  <i class="fa fa-cube"></i> Dishwasher
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <app-rental-booking
          [isAuth]="auth.isAuthenticated">
        </app-rental-booking>
      </div>
    </div>
  </div>
</section>
